<div class="page">
  <section class="chat">
    <div class="chat-timeline">
      <ng-container *ngFor="let comment of comments | async">
        <div class="list-group-item list-group-item-action flex-column align-items-start border-0">
          <div class="media">
            <div class="media-left" *ngIf="comment.user.uid !== currentUser.uid">
              <a href="#" class="icon">{{ comment.initial }}</a>
            </div>
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="media-heading">{{ comment.user.name }}</h4>
                <small class="media-date">{{ comment.date | commentDate }}</small>
              </div>
              <pre>{{ comment.message }}</pre>
            </div>
            <div class="media-right" *ngIf="comment.user.uid === currentUser.uid">
                <a href="#" class="icon">{{ comment.initial }}</a>
            </div>
          </div>
        </div>
      </ng-container>
        <div class="media">
            <div class="media-left">
              <a href="#" class="icon">{{ (item | async)?.initial }}</a>
            </div>
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="media-heading">{{ (item | async)?.name }}</h4>
              </div>
              <pre>{{ (item | async)?.message }}</pre>
            </div>
        </div>
    </div>
  </section>

  <section class="chat-editor">
    <form class="chat-form">
      <div class="form-header d-flex flex-row-reverse mb-2">
        <span class="input-group-btn"><button class="btn btn-info btn-sm" type="submit" tabindex="2"
          (click)="addComment(content)">送信</button></span>
      </div>
      <div class="input-group">
        <textarea [(ngModel)]="content" name="content" class="form-control" placeholder="メッセージを入力" tabindex="1"></textarea>
      </div>
    </form>
  </section>
</div>
