<div class="page">
  <section class="chat">
    <div class="chat-timeline">
      <div class="list-group-item list-group-item-action flex-column align-items-start border-0">
        <div class="media">
          <div class="media-left">
            <a href="#" class="icon">竹</a>
          </div>
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="media-heading">竹井 賢治</h4>
              <small class="media-date">2017/12/01</small>
            </div>
            <pre>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</pre>
          </div>
        </div>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start border-0">
        <div class="media">
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="media-heading">五十川 洋平</h4>
              <small class="media-date">2017/12/01</small>
            </div>
            <pre>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</pre>
          </div>
          <div class="media-right">
            <a href="#" class="icon">五</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="chat-editor">
    <form class="chat-form">
      <div class="form-header d-flex flex-row-reverse mb-2">
        <span class="input-group-btn"><button class="btn btn-info btn-sm" type="submit" tabindex="2">送信</button></span>
      </div>
      <div class="input-group">
        <textarea class="form-control" placeholder="メッセージを入力" tabindex="1"></textarea>
      </div>
    </form>
  </section>
</div>
